* {
  box-sizing: border-box;
  font-family: "Baloo Chettan 2", Arial, Helvetica, sans-serif;
}

.header {
  width: 100%;
  align-items: center;
  margin: 20px 0;
  display: flex;
}

.name-container {
  width: 90%;
  text-align: center;
  padding-left: 10%;
  font-size: 50px;
}

.right-header {
  width: 10%;
  /* display: flex; */
  /* justify-content: center; */
}
.main-content {
  display: flex;
  justify-content: space-around;
  height: 80vh;
}

.course {
  font-size: 30px;
  width: 10vw;
  background: red;
}
.hidden {
  display: none;
}
